/* You can add global styles to this file, and also import other style files */
body{
	background-color: #f7f7f7;
	padding: 20px;
}

html{
	scroll-behavior: smooth;
}

.loading{
	text-align: center;
}

a{
	text-decoration: none;
	color: #0366d6;
}

.scroll-top{
	position: fixed;
	bottom: 2%;
	right: 1%;
	font-size: x-large;
	height: 50px;
	width: 50px;
	background: white;
	border-radius: 50%;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	z-index: 100;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.scroll-top:hover{
	transform: translateY(-3px);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.yinzcam-nav{
	position: fixed;
	padding: 20px;
	top: 0;
	left: 0;
	right: 0;
	background-color: #141519;
	z-index: 101;
}

.yinzcam-nav>h1{
	margin: 0;
	display: flex;
	justify-content: space-between;
	color: #efb632;
}

.yinzcam-nav>h1>a{
	color: #efb632 !important;
	text-decoration: none;
}